.kaufman__table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
}
.table__cell {
  width: 250px;
}
.table__cell:nth-child(5) {
  margin-bottom: 60px;
}
.cell__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cell__text {
  line-height: 1.2;
  font-size: 18px;
}