.description__two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}
.description__two-columns_brief-heading {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}
.two-columns__paragraph{
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}
.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}
.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__main-text {
  width: 80%;
}


